{% extends "layouts/default_layout.html" %} {% block title %} Login {% endblock
%} {% block main %}
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>About</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>About</li>
      </ol>
    </div>
  </div>
</section>
<section id="about" class="why-us">
  <div class="container">
    <div class="section-title">
      <h2>How works <span>ReciSharing</span></h2>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="box">
          <span>01</span>
          <h4>Can Easily Search Recipe</h4>
          <p>- By Creator, By Title</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>02</span>
          <h4>Can Make Your Own Recipe</h4>
          <p>- Easily made with our website,</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>03</span>
          <h4>Share Yours Recipes</h4>
          <p>- Can Attach Youtube Link, - Can Share Facebook</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
