{% extends "layouts/home_layout.html" %} {% block title %} Final Project {%
endblock %} {% block main %}

<section id="recipes" class="specials">
  <div class="container">
    <div class="section-title">
      <h2>Check our <span>Recipes</span></h2>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1"
              >Mo Hin Gar</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Mo Hin Gar</h3>
                <p class="fst-italic">
                  When it comes to comfort food, mohingar is top of the list. It
                  brings back fond memories of early morning visits to the
                  street corner which started with breakfast at a mohingar stall
                  nearby. This noodle soup is considered the Burmese national
                  dish and is eaten for breakfast, lunch and dinner. Not
                  surprisingly every family has their own variation and this is
                  the favorite recipe.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/img/specials-3.jpg" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="why-us">
  <div class="container">
    <div class="section-title">
      <h2>How works <span>ReciSharing</span></h2>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="box">
          <span>01</span>
          <h4>Can Easily Search Recipe</h4>
          <p>- By Creator, By Title</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>02</span>
          <h4>Can Make Your Own Recipe</h4>
          <p>- Easily made with our website,</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>03</span>
          <h4>Share Yours Recipes</h4>
          <p>- Can Attach Youtube Link, - Can Share Facebook</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="latest_recipes" class="pt-0 chefs">
  <div class="container">
    <div class="section-title">
      <h2>Our Latest <span>Recipes</span></h2>
    </div>

    <div class="row">
      {% for recipe in recipes %}
      <div class="col-lg-4 col-md-6 mb-3">
        <a href="/recipes/{{ recipe.id }}">
          <div class="member">
            <div class="pic">
              <img src="{{ recipe.image }}" class="recipe-img" alt="" />
            </div>
            <div class="member-info">
              <h4>{{ recipe.title }}</h4>
              <div class="recipe-avatar-container">
                <img
                  src="{{ recipe.user_image_avatar }}"
                  class="recipe-avatar"
                  alt="Profile Picture"
                  id="profile_pic"
                />
                <span class="ms-3"> By {{ recipe.user_name }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <div class="text-center mt-1">
      <a href="/recipes">View More Recipes</a>
    </div>
  </div>
</section>

<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2><span>Contact</span> Us</h2>
      <p>We love all of your ideas and feedback.</p>
    </div>
  </div>

  <div class="container mt-5">
    <div class="info-wrap">
      <div class="row">
        <div class="col-lg-4 col-md-6 info">
          <i class="bi bi-geo-alt"></i>
          <h4>Location:</h4>
          <p>Kyaung Street<br />South Dagon, Yangon, YGN 499(B)</p>
        </div>

        <div class="col-lg-4 col-md-6 info mt-4 mt-lg-0">
          <i class="bi bi-envelope"></i>
          <h4>Email:</h4>
          <p>lwinmoepaing.dev@gmail.com</p>
        </div>

        <div class="col-lg-4 col-md-6 info mt-4 mt-lg-0">
          <i class="bi bi-phone"></i>
          <h4>Call:</h4>
          <p>+95 9420059241</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
