{% extends "layouts/default_layout.html" %} {% block title %} Login {% endblock
%} {% block main %}
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Login</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Login</li>
      </ol>
    </div>
  </div>
</section>

<section class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 mt-4 mt-lg-0">
      <div class="box py-4 px-4">
        <h5 class="text-center mb-3">Login</h5>
        <form action="/login" method="post" class="text-center">
          <div class="mb-3">
            <input
              autocomplete="off"
              autofocus
              class="form-control {% if errors.username %} is-invalid {% endif %}"
              id="username"
              name="username"
              placeholder="Username"
              type="text"
              value="{% if errors.old_username %}errors.old_username{% endif %}"
            />
            {% if errors.username %}
            <div class="invalid-feedback">{{errors.username}}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <input
              class="form-control {% if errors.password %} is-invalid {% endif %}"
              id="password"
              name="password"
              placeholder="Password"
              type="password"
            />
            {% if errors.password %}
            <div class="invalid-feedback">{{errors.password}}</div>
            {% endif %}
          </div>
          <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">Log In</button>
          </div>
        </form>

        <div class="text-center mt-3 s">
          <a href="/register"><small>Signup!</small></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
