{% extends "layouts/default_layout.html" %} {% block title %} Recipe List {%
endblock %} {% block main %}
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Recipes</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Recipes</li>
      </ol>
    </div>
  </div>
</section>

<section id="latest_recipes" class="chefs pt-4">
  <div class="container">
    <form method="GET">
      <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
          <div>
            <input
              autocomplete="off"
              class="form-control form-control-sm"
              id="search_query"
              name="search_query"
              placeholder="Recipe Title"
              type="text"
              value="{{ search_query }}"
            />
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div>
            <select
              class="form-control form-select form-select-sm"
              aria-label="Default select example"
              name="category"
            >
              <option value="">Select Category</option>
              {% for cat in categories %}
              <option value="{{ cat.id }}" 
                {% if (cat.id | string) == (category| string) %}
                  selected="selected"
                {% endif %}
              >{{ cat.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="d-flex">
            <input
              autocomplete="off"
              class="form-control form-control-sm text-end"
              type="number"
              name="page"
              min="1"
              value="{{ page }}"
            />
            <button class="btn btn-sm btn-primary mx-2" type="submit">
              Go
            </button>
          </div>
          <div class="text-end mx-2">Total page : {{ total_page }}</div>
        </div>
      </div>
    </form>

    <div class="section-title">
      <h2 class="mt-0">Latest <span>Recipes</span></h2>
    </div>

    <div class="row justify-content-center">
      {% for recipe in recipes %}
      <div class="col-lg-4 col-md-6 mb-3">
        <a href="/recipes/{{ recipe.id }}">
          <div class="member">
            <div class="pic">
              <img src="{{ recipe.image }}" class="recipe-img" alt="" />
            </div>
            <div class="member-info">
              <h4>{{ recipe.title }}</h4>
              <div class="recipe-avatar-container">
                <img
                  src="{{ recipe.user_image_avatar }}"
                  class="recipe-avatar"
                  alt="Profile Picture"
                  id="profile_pic"
                />
                <span class="ms-3"> By {{ recipe.user_name }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
