{% extends "layouts/default_layout.html" %} {% block title %} Pulblic Index Page
{% endblock %} {% block main %}
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>{% if user %} {{user.name}} {% else %} Not Found User {% endif %}</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>User</li>
      </ol>
    </div>
  </div>
</section>

{% if not user %} Not Found User {% else %}
<section class="container py-3">
  <div class="my-cover">
    <img src="{{ user.background_image }}" class="bg" alt="Profile Picture" />

    <div>
      <label for="profile_pic_input">
        <img
          src="{{ user.image_avatar }}"
          class="img-thumbnail my-avatar my-avatar-position"
          alt="Profile Picture"
          id="profile_pic"
        />
      </label>
    </div>
  </div>
  <div>
    <p class="profile_name">{{ user.name }}</p>
  </div>
</section>

<section id="latest_recipes" class="pt-0 chefs">
  <div class="container">

    <div class="section-title">
        <h2>Latest <span>Recipes</span></h2>
    </div>

    <div class="row justify-content-center">
      {% for recipe in recipes %}
      <div class="col-lg-4 col-md-6 mb-3">
        <a href="/recipes/{{ recipe.id }}">
          <div class="member">
            <div class="pic">
              <img src="{{ recipe.image }}" class="recipe-img" alt="" />
            </div>
            <div class="member-info">
              <h4>{{ recipe.title }}</h4>
              <div class="recipe-avatar-container">
                <img
                  src="{{ recipe.user_image_avatar }}"
                  class="recipe-avatar"
                  alt="Profile Picture"
                  id="profile_pic"
                />
                <span class="ms-3"> By {{ recipe.user_name }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endif %} {% endblock %}
